@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 122 9% 40%;

    --card: 0 0% 100%;
    --card-foreground: 122 9% 40%;

    --popover: 0 0% 100%;
    --popover-foreground: 122 9% 40%;

    --primary: 122 9% 71%;
    --primary-foreground: 122 9% 20%;

    --secondary: 180 63% 78%;
    --secondary-foreground: 180 63% 25%;

    --accent: 126 38% 65%;
    --accent-foreground: 126 38% 20%;

    --muted: 122 9% 90%;
    --muted-foreground: 122 9% 40%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 122 9% 85%;
    --input: 122 9% 85%;
    --ring: 122 9% 71%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 122 9% 10%;
    --foreground: 122 9% 90%;

    --card: 122 9% 15%;
    --card-foreground: 122 9% 90%;

    --popover: 122 9% 15%;
    --popover-foreground: 122 9% 90%;

    --primary: 122 9% 71%;
    --primary-foreground: 122 9% 10%;

    --secondary: 180 63% 78%;
    --secondary-foreground: 180 63% 10%;

    --accent: 126 38% 65%;
    --accent-foreground: 126 38% 10%;

    --muted: 122 9% 20%;
    --muted-foreground: 122 9% 70%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 122 9% 25%;
    --input: 122 9% 25%;
    --ring: 122 9% 71%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

